/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Satisfy');
/*UnIvErSaL*/
a, a:hover{
  text-decoration: none;
}
/*Header*/
.logo-img{
  height: 70px;
}
.logo-text{
  font-family: 'Satisfy',cursive;
  color: #F2767E; /*orange/pink highlight*/

}
.flex{
  display: flex;
  justify-content: space-between;
  align-item: flex-end;
}
.logo-wrapper{
  width: 50%;
}
/*Jumbotron StYlEs*/
.jumbotron{
  background-image: url('../img/hero.jpg');
  background-size: cover;
  background-position: center;
  height: 450px;
}
.hero-text{
  color: #FFF;
  font-weight: 400;
}

/*Products*/
.thumbnail-color{
  background-color: #edf1f4;
  padding: 8px;
}\
.product-img{
  padding: 0px 7.5px;
}
/*Footer*/
footer{
  height: 150px;
  background-color: #333;
  padding: 16px;
}
footer a, footer a:hover {
  color: #BFC0C1;
}
footer img.logo-img{
  width: 120px;
}
.address-border{
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}
address, address>a{
  color: #BFC0C1;
}

address>a:hover{
  color: #BFC0C1;
  text-decoration: none;
}
dis-block{
  display: block;
}
.copyright{
  color: #505050;
}
/*Contacts*/
.doctors h3{
  margin-top: 0px;
}
iframe{
  height: 300px;
  width: 450px;
}
